<script>
  function fbShare(url, winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open('http://www.facebook.com/sharer.php?u=' + url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width='+winWidth+',height='+winHeight);
    return false
  }
</script>

<div class="l-container l-container--no-padding" id="sharing-is-caring">
  <section class="jumbotron">
    <div class="jumbotron__inner">
      <h1 class="jumbotron__heading">Pomôžte zdieľaním</h1>

      <div class="jumbotron__content">
        <a href="#" onclick="return fbShare('https://ktopomozeslovensku.sk/', 530, 400)" class="button button--ternary button--narrow button--with-icon">
          <i class="icon-brand-facebook"></i>Facebook</a>
        <a href="https://www.instagram.com/ktopomozeslovensku/" class="button button--ternary button--narrow button--with-icon" target="_blank">
          <i class="icon-brand-instagram"></i>Instagram</a>
        <a href="mailto:?subject=Pomoc pre slovenské zdravotnícke zariadenia - ktopomozeslovensku.sk&body=Prispieť môžeš aj ty: https://ktopomozeslovensku.sk" class="button button--ternary button--narrow button--with-icon">
          <i class="icon-email-at"></i>Email</a>
      </div>
    </div>
  </section>
</div>

<footer class="l-footer-nav">
  <div class="footer__nav">
    <p class="footer__nav-item">©2020 <a class="footer__nav-item" href="https://ktopomozeslovensku.sk/">KtopomozeSlovensku</a></p>
    <a href="{{ path('policy') }}" class="footer__nav-item">Súkromie</a>
    <a href="{{ path('contact') }}" class="footer__nav-item">Kontakt</a>
    <a href="https://docs.google.com/file/d/1m0dllwGqU6jY3wrb2eZmBsMWl8BcGdCw/edit?usp=docslist_api&filetype=msword" class="footer__nav-item">Pravidlá a Podmienky</a>
  </div>
  <div class="footer__share">
    <a href="https://www.facebook.com/KtoPomozeSlovensku/" target="_blank">
      <i class="icon-brand-facebook"></i>
    </a>
    <a href="https://www.instagram.com/ktopomozeslovensku/" target="_blank">
      <i class="icon-brand-instagram"></i>
    </a>
  </div>
</footer>

<div class="footer-legal">
  <div class="footer-legal__inner">
    <i class="footer-legal__icon icon-certificate"></i>
    <p class="footer-legal__text">
      <a class="footer__nav-item" href="https://ktopomozeslovensku.sk/">Iniciatíva Kto pomôže Slovensku</a>, účet <a href="https://ib.fio.sk/ib/transparent?a=2901467117">SK2683300000002901467117</a>, Fio banka, a.s., pobočka zahraničnej banky
    </p>
  </div>
</div>
