{% for item in form.items %}
  <div class="item-container requested__item">
    {{ form_widget(item.item) }}
    {% if item.quantity is defined %}
      {{ form_widget(item.quantity) }}
    {% endif %}
    {% if item.description is defined %}
      {{ form_widget(item.description) }}
    {% endif %}
  </div>
{% endfor %}
<script>
  const wrappers = document.getElementsByClassName('item-container');
  for (let i = 0; i < wrappers.length; i++) {
    let checkbox;
    let quantity;
    if(wrappers[i].hasChildNodes()) {
      checkbox = getType(wrappers[i].children, "checkbox");
      quantity = getType(wrappers[i].children, "number") || getType(wrappers[i].children, "text");
      checkbox.addEventListener("change", function(){
        quantity.required = !!checkbox.checked;
      }, false);
    }
  }

  function getType(domNodes, type) {
    for (let i = 0; i < domNodes.length; i++) {
      if (domNodes[i].type === type) {
        return domNodes[i];
      }
    }
    return undefined;
  }
</script>
