<article class="article">
  <header>
    <h1 class="article__heading">Potrebujete pomoc?</h1>
  </header>

  <div class="article__body">
    <p class="margin-bottom-large">O pomoc môžu žiadať všetky zdravotnícke zariadenia — štátne aj súkromné, ktoré sa starajú o pacientov nakazených koronavírusom. Rovnako tiež domovy sociálnych služieb a zariadenia pre seniorov, ako aj samosprávy a organizácie poskytujúce starostlivosť o zraniteľné skupiny obyvateľstva.</p>

    <a href="{{ path('help_request') }}" class="button button--primary button--center">Požiadať o pomoc</a>
  </div>
</article>
