<section class="jumbotron jumbotron--grey jumbotron--support">
  <div class="jumbotron__inner">
    <h3 class="jumbotron--support__heading">Ďalšie formy pomoci</h3>

    <div class="jumbotron__content jumbotron--support__content">
      <p class="vertical-list">
        <a href="{{ path('speak-about-it') }}" class="result__share"
           title="Linky dôvery a chatové či e-mailové poradenstvo">
          <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Linky
          dôvery a chatové či e-mailové poradenstvo
        </a>
        <a href="{{ path('speak-about-it') }}#ako-zvladnut-stres"
           title="Tipy na zvládanie stresu spojeného s karanténou" class="result__share">
          <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Tipy
          na zvládanie stresu spojeného s karanténou
        </a>
      </p>
    </div>
  </div>
</section>
