<section class="jumbotron jumbotron--grey">
  <div class="jumbotron__inner">
    <h1 class=" jumbotron--grey__heading">Hľadáme posily</h1>

    <div class="jumbotron__content">
      <p class="margin-bottom-small vertical-list">
        <a href="https://docs.google.com/forms/d/1l_dQ5gakDWltbZwy5Cai5yDyh7hQvGICuD_lqAn1pgU/edit?usp=sharing" class="result__share">
          <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Dobrovolníci do organizačného tímu
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScEggWWeIRMT_0tS-4Ob0N4Ys6o8kFRhKc4V6mSs9n3BBKzCg/viewform" class="result__share">
          <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Dobrovolníci - odborníci / vedci
        </a>
      </p>
    </div>
  </div>
</section>
