<section class="jumbotron jumbotron--grey">
  <div class="jumbotron__inner">
    <h1 class=" jumbotron--grey__heading">Hľadáme posily odborníkov</h1>

    <div class="jumbotron__content">
      <p class="margin-bottom-small vertical-list">
        <a href="https://airtable.com/embed/shrcSv1CWUaZjo0hX?backgroundColor=teal" class="result__share">
          <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Som odborník a chcem pomôcť ľuďom zadarmo
        </a>
        <a href="https://airtable.com/embed/shr7XSNnRh2JahaPI?backgroundColor=teal" class="result__share">
          <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Som odborník a chcem posilniť linky dôvery
        </a>
      </p>
    </div>
  </div>
</section>

