<header>
  <h1 class="article__heading">Kto žiada o pomoc</h1>
</header>

{% for group in helpRequestGroups %}
  <div class="item-box">
    <div class="item-box__name">
      {{ group.name }}
    </div>
    <div class="item-box__numbers">
      <div class="item-box__number">{{ group.count|number_format(0, '.', ' ') }}</div>
    </div>
  </div>
{% endfor %}
