@font-face {
  font-family: 'icomoon';
  src:
    url('/static/fonts/icomoon.ttf?eztq8h') format('truetype'),
    url('/static/fonts/icomoon.woff?eztq8h') format('woff'),
    url('/static/fonts/icomoon.svg?eztq8h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-certificate:before {
  content: "\e908";
}
.icon-brand-linkedin:before {
  content: "\e907";
}
.icon-close-big:before {
  content: "\e906";
}
.icon-burger-big:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-email-at:before {
  content: "\e900";
}
.icon-brand-facebook:before {
  content: "\e901";
}
.icon-brand-instagram:before {
  content: "\e902";
}
.icon-brand-twitter:before {
  content: "\e903";
}
