body {
    font-family: 'Open Sans', sans-serif;
	color:#333;
	background: #f2f2f2 url("../img/bkg.gif") no-repeat right top;
}

#home {
	top:0;
	left:0;
	width:70px;
	position:fixed;
	height:100%;
	background: #9c0000 url("../img/ktopomozesk.png") no-repeat top;
}

h1, h2, h3 {
	font-weight: 100;
	color:#0070b6;
}

.bold {
	font-weight:600;
}

.dark {
	color: #00234d;
}

.small-text {
	font-size: 90%;
	opacity: 0.8;
	margin:10px 0 15px;
}

.row {
	padding-left: 70px;
}

.mainstat {
	background:white;
	margin-bottom:30px;
	text-align: center;
}

.mainstat .highlight {
	background: #00aeef;
	padding: 15px;
	color: #fff;
	margin: 0 -15px;
}

.mainstat h2 {
	font-size: 90px;
	font-weight: 600;
	margin-bottom:25px;
}

.mainstat .highlight h3 {
	margin:0;
	color: white;
	font-weight: 400;
}

.container .row {
	display:flex;
	flex-wrap: wrap;
}

.box {
	display: flex;
	margin-bottom: 30px;
}

.box p {
	font-size:16px;
	margin:30px 0;
}

.box-content {
	background: white;
	padding:20px 20px 60px;
}

.btn-default {
	color: white;
	background: #00234d;
	border:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 30px;
	text-shadow: none !important;
	display: inline-block;
	text-align: center;
}

/*ipad hack*/
.col-sm-4 {
    width: 33%;
}

@media (max-width: 767px) { 
	#home {
		width: 100%;
		position: absolute;
		height: 50px;
		background: #9c0000 url("../img/bannermobil.jpg") no-repeat left;
		background-size:cover;
		color: white;
	}
	
	#home div {
		font-size:16px;
		font-weight: 600;
		padding-left:15px;
		line-height: 50px;
	}
	
	.row {
		padding-left: 0;
		display: block;
	}
	
	.box {
		display: block;
		width:100%;
	}
	
	.mainstat h1 {
		font-size: 24px;
	}
	
	.mainstat h2 {
		font-size: 40px;
	}
	
	.mainstat h3 {
		font-size: 16px;
	}
}