@use '../config/colors' as colors
@use '../layout/utils' as layout

.form-container
  width: 100%
  display: flex
  align-items: baseline
  flex-wrap: wrap
  margin-bottom: 8px

  @include layout.from(tablet)
    flex-wrap: nowrap
    height: 32px // = input height

  label
    align-items: center

    @include layout.from(tablet)
      margin-right: 10px

  input:not(.checkbox)
    display: inline-block
    vertical-align: top
    margin-top: 8px
    margin-bottom: 16px

    @include layout.from(tablet)
      margin-left: auto
      margin-top: 0
      margin-bottom: 0

    &[type=text]
      width: 100%
      @include layout.from(tablet)
        width: 70%

    &[type=number]
      width: 100%

      @include layout.from(tablet)
        width: 100px

  .checkbox
    flex-shrink: 0

    &:not(:checked) ~ .input
      display: none
