{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">O projekte</h1>

    <article class="article">
      <div class="article__body">
        <p>Pomáhame slovenským zdravotníckym zariadeniam zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre nemocnice a domovy sociálnych služieb. Zapojiť sa môže každý, kto chce a môže.</p>
      </div>
    </article>

    <article class="article">
      <header>
        <h3 class="article__heading">Prečo to robíme</h3>
      </header>
      <div class="article__body">
        <p>Lebo všetkého je nedostatok. Napriek enormnej snahe slovenských zdravotníkov cítime potrebu im pomôcť. Množia sa správy o chýbajúcich zdravotníckych pomôckach, ktoré častokrát nemajú ani samotní zdravotníci, aby sa chránili. Chceme prepojiť všetkých, ktorí vedia a chcú pomôcť Slovensku zvládnuť toto ťažké obdobie a prostredníctvom finančnej alebo materiálnej pomoci doplniť chýbajúci zdravotnícky materiál tam, kde systém nestíha.</p>
      </div>
    </article>

    <article class="article">
      <header class="l-container">
        <h3 class="article__heading">Partneri</h3>
      </header>
      <div class="article__body">
        <p>Naša iniciatíva funguje aj vďaka podpore partnerov, ktorí poskytujú svoje znalosti, kontakty, čas alebo peniaze.</p>
      </div>
    </article>
  </div>

  <div class="l-cards" style="margin-top: -32px; margin-bottom: 128px;">
    <div class="l-cards__inner">
      <div class="card">
        <p>VÚB banka</p>
        <p>40 000€</p>
      </div>

      <div class="card">
        <p>Pixel Federation</p>
        <p>20 000€</p>
      </div>

      <div class="card">
        <p>Curaden Slovakia s.r.o.</p>
        <p>10 000€</p>
      </div>

      <div class="card">
        <p>Berlin Brands</p>
        <p>10 000€</p>
      </div>

      <div class="card">
        <p>Sashe</p>
        <p>Nefinančná pomoc</p>
      </div>

      <div class="card">
        <p>Finstat</p>
        <p>Nefinančná pomoc</p>
      </div>

      <div class="card">
        <p>Hamala Kluch Víglaský s.r.o.</p>
        <p>Nefinančná pomoc</p>
      </div>

      <div class="card card--empty">
        <p>Vaša firma?</p>
      </div>
    </div>
  </div>

  <div class="l-container">
    <article class="article">
      <header>
        <h3 class="article__heading">Garanti</h3>
      </header>
      <div class="article__body">
        <p>O rozdelení podpory a prioritizovaní žiadostí bude rozhodovať komisia zložená z iniciátorov výzvy a odborných garantov.</p>

        <ul class="l-list">
          <li>
            <p class="p3">
              <strong>Ing. Ľudmila Kolesárová,</strong> Dobrý anjel
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>MUDr. Pavol Andel,</strong> zubný lekár
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Ing. Mgr. Ľubica Kočanová,</strong> predsedníčka Asociácie sestier a pacientov
            </p>
          </li>
        </ul>
      </div>
    </article>

    <article class="article">
      <header>
        <h3 class="article__heading">Organizačný tím</h3>
      </header>
      <div class="article__body">
        <p>Iniciátori projektu a správna rada:</p>

        <ul class="l-list">
          <li>
            <p class="p3">
              <strong>Šimon Šicko,</strong> Pixel Federation – iniciátor
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Lukáš Fila,</strong> Denník N
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Demo, </strong> Demotivacia
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Zuzana Suchová,</strong> Fundraising, marketing a PR konzultantka
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Lucia Pašková,</strong> CURADEN Slovakia
            </p>
          </li>
        </ul>

        <p>Organizačný tím:</p>
        <ul class="l-list">
          <li>
            <p class="p3">
              <strong>Web development:</strong> Šimon Šicko a tím Pixel Federation dobrovoľníkov (Tomáš Mihalička, Peter Brocska, Martin Fris, Miloš Dammer, Filip Polášek, Andrej Rosmány) a tím Smarkup (Adam Šabla, Cinan)
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Organizácia dopytu:</strong> Lucia Pašková
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Organizácia ponuky:</strong> Janka Bargerová
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Správa transparentného účtu, platby:</strong> Zuzana Suchová
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Koordinácia partnerov:</strong> Lucia Šicková
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>PR:</strong> Michaela Benedigová
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Sociálne siete:</strong> Paula Setnická, Lenka Skaláková
            </p>
          </li>
          <li>
            <p class="p3">
              <strong>Tím dobrovoľníkov — koordinácie objednávok, komunikácia so zdravotníckymi zariadeniami:</strong> Martina Gallovičová, Matej Grečo, Romana Vyhlídalová, Mili Gorogová, Petra Ujčeková, Danka Adameová, Naty Mrázová
            </p>
          </li>
        </ul>
      </div>
    </article>

    {% include 'partials/faq.html.twig' %}
  </div>
{% endblock %}
