{% extends "layout.html.twig" %}
{% block title %}Kontakt | Kto pomôže Slovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone h2">Kontakt</h1>

    <article class="article">
      <div class="article__body">
        <p class="margin-bottom-small">
          <strong>Pre verejnosť:</strong> <a href="mailto:podpora@ktopomozeslovensku.sk">podpora@ktopomozeslovensku.sk</a>
        </p>
        <p class="margin-bottom-small">
          <strong>Pre médiá:</strong> Michaela Benedigová, <a href="mailto:benedigova@seesame.com">benedigova@seesame.com</a>
        </p>
        <br>
        <br>
        <p class="margin-bottom-small">
        <a href="https://www.facebook.com/KtoPomozeSlovensku" target="_blank">Náš Facebook</a>
        </p>
        <p class="margin-bottom-small">
        <a href="https://www.instagram.com/ktopomozeslovensku" target="_blank">Náš Instagram</a>
        </p>
        <br>
        <br>
        <p>
          Ak nám chcete pomôcť fyzicky alebo inak, prosíme vyplňte <a href="http://bit.ly/jachcempomoctslovensku" target="_blank">tento formulár.</a>
        </p>
      </div>
    </article>
  </div>
{% endblock %}
