{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    {% include "partials/donated.html.twig" with { 'upper': true } %}

    {% include 'partials/faq.html.twig' %}
  </div>
{% endblock %}
