{% extends "layout.html.twig" %}
{% block title %}Ďakujeme! | Kto pomôže Slovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">Ďakujeme!</h1>

    <article class="article">
      <div class="article__body text-center">
        <p>Formulár bol úspešne odoslaný.</p>
      </div>
    </article>
  </div>
{% endblock %}
