{% extends "layout.html.twig" %}
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-content">
          <h1>Často kladené otázky</h1>

          <div class="qr hidden-xs" style="float:right; margin: 0 0 15px 15px; width: 180px">
            <img class="img-responsive" src="{{ asset('static/img/qrcode.png') }}">
            <img class="img-responsive" src="{{ asset('static/img/viamo.png') }}">
          </div>
          <div class="right"><h3>Ako&nbsp;prispieť?</h3>
            <p>Pošlite prosím svoj príspevok na transparentný účet: <a class="bold"
                                                                       href="https://ib.fio.sk/ib/transparent?a=2901467117">SK2683300000002901467117</a>.
              Účet patrí Zuzane Suchovej, ktorá je jednou z členiek tejto iniciatívy. </p>
          </div>

          <h3>Dostane pomoc každý?</h3>
          <p>Podľa výšky vyzbieraných prostriedkov sa budeme snažiť uspokojiť požiadavky čo najväčšieho počtu
            žiadateľov, ale určite nie je možné pomôcť každému a v rozsahu, akom potrebuje.
          </p>

          <h3>Kto rozhodne o tom, ako budú peniaze použité?</h3>
          <p>
            O použití prostriedkov bude rozhodovať komisia zložená z iniciátorov a garantov výzvy.
          </p>

          <h3>Kde sa dozviem, ako boli peniaze použité?</h3>
          <p>Informácie budeme priebežne dopĺňať na tejto stránke.</p>

          <h3>Čo spravíte, ak vám po skončení pandémie ostanú nejaké prostriedky?</h3>
          <p>Všetky budú použité na podporu zdravotníckych zariadení.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

