{% extends "layout.html.twig" %}
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-content">
          <h1>Často kladené otázky</h1>

          <h3>Ako prispieť?</h3>
          <p>Pošlite prosím svoj príspevok na transparentný účet: <span class="bold"> SK2683300000002901467117</span>
            Účet patrí XY, ktorý je jedným z partnerov tejto iniciatívy.
          </p>

          <h3>Pomôžete každému?</h3>
          <p>Podľa výšky vyzbieraných prostriedkov sa budeme snažiť spraviť čo najviac, ale určite sa nepodarí pomôcť každému.
            Kto rozhodne o tom, ako budú peniaze použité?
            O použití prostriedkov rozhoduje...
          </p>

          <h3>Kde sa dozviem, ako boli peniaze použité?</h3>
          <p>Informácie budeme priebežne dopĺňať na tejto stránke.</p>

          <h3>Čo spravíte, ak vám po skončení pandémie ostanú nejaké prostriedky?</h3>
          <p>Všetky budú použité na podporu zdravotníckych zariadení.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

