<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <br>
      Ⓒ2020 KtopomozeSlovensku | <a href="{{ path('policy') }}">Ochrana osobných údajov</a> | podpora@ktopomozeslovensku.sk
    </div>
  </div>
</div>
