<div class="l-container l-container--no-padding" id="sharing-is-caring">
  <section class="jumbotron">
    <div class="jumbotron__inner">
      <h1 class="jumbotron__heading">Pomôžte zdieľaním</h1>

      <div class="jumbotron__sharing">
        <a href="#" class="button button--ternary button--narrow button--with-icon">
          <i class="icon-brand-facebook"></i>Facebook</a>
        <a href="#" class="button button--ternary button--narrow button--with-icon">
          <i class="icon-brand-twitter"></i>Twitter</a>
        <a href="#" class="button button--ternary button--narrow button--with-icon">
          <i class="icon-brand-instagram"></i>Instagram</a>
        <a href="#" class="button button--ternary button--narrow button--with-icon">
          <i class="icon-email-at"></i>Email</a>
      </div>
    </div>
  </section>
</div>

<footer class="l-footer-nav">
  <div class="footer__nav">
    <p class="footer__nav-item">©2020 KtopomozeSlovensku</p>
    <a href="{{ path('policy') }}" class="footer__nav-item">Súkromie</a>
    <a href="#" class="footer__nav-item">Kontakt</a>
  </div>
  <div class="footer__share">
    <a href="#">
      <i class="icon-brand-facebook"></i>
    </a>
    <a href="#">
      <i class="icon-brand-twitter"></i>
    </a>
    <a href="#">
      <i class="icon-brand-instagram"></i>
    </a>
    <a href="#">
      <i class="icon-email-at"></i>
    </a>
  </div>
</footer>
