{% extends "layout.html.twig" %}
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-content">
          <h2>Formulár bol úspešne odoslaný</h2>
          <p>Ďakujeme</p>
        </div>
    </div>
  </div>
{% endblock %}
