{% extends "layout.html.twig" %}
{% block title %}Kto pomôže Slovensku #ktoPomozeSlovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <header class="hero">
      <h1 class="hero__heading">Pomoc pre slovenské zdravotnícke zariadenia</h1>
      <p class="hero__subheading">Aby sme spolu zvládli pandémiu koronavírusu, pridajte sa!</p>
    </header>

    {% include "partials/donated.html.twig" %}
  </div>

  <div class="l-container l-container--no-padding">
    {% include "partials/recru.html.twig" %}
  </div>

  <div class="l-container">
    {% include "partials/need-help.html.twig" %}

    <article class="article">
      {% include "partials/who-asks-for-help.html.twig" %}
    </article>

    <article class="article">
      {% include "partials/item-status.html.twig" %}
      <a href="{{ path('we-helped') }}">Zobraziť celý prehľad</a>
    </article>

    <article class="article">
      {% include "partials/testimonails.html.twig" %}
    </article>

    <article class="article">
      {% include "partials/donations-history.html.twig" %}
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">O projekte</h1>
      </header>

      <div class="article__body">
        <p>Prečo to robíme? Lebo všetkého je nedostatok. Pomáhame slovenským zdravotníckym zariadeniam zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre nemocnice a domovy sociálnych služieb. Zapojiť sa môže každý, kto chce a môže.</p>

        <a href="{{ path('about') }}">Čítajte viac</a>
      </div>
    </article>
  </div>
{% endblock %}

