{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <header class="hero">
      <h1 class="hero__heading">Pomoc pre slovenské zdravotnícke zariadenia</h1>
      <p class="hero__subheading">Aby sme spolu zvládli pandémiu koronavírusu</p>
    </header>

    <div class="separator" style="width: 100%; max-width: 300px"></div>

    {% include "partials/donated.html.twig" %}

    <article class="article">
      <header>
        <h1 class="article__heading">Komu sme pomohli</h1>
      </header>

      <div class="article__body">
        <ul>
          <li class="l-log">
            <span class="l-log__date">13. 3. 2020</span>
            <span class="l-log__desc">
              <strong>Fakultná nemocnica Martin.</strong>
                Pre obvodných, všeobecných lekárov a pediatrov, 3x5 litrov 80% dezinfekcie na ruky.
              </span>
          </li>
          <li class="l-log">
            <span class="l-log__date">13. 3. 2020</span>
            <span class="l-log__desc">
              <strong>BaMaMed Nitra.</strong>
                Doručených 100ks rúšok
              </span>
          </li>
          <li class="l-log">
            <span class="l-log__date">20. 3. 2020</span>
            <span class="l-log__desc">
              <strong>BaMaMed Nitra.</strong>
                Doručených 300ks rúšok, 300 párov rukavíc, 600 respi
              </span>
          </li>
        </ul>

        <a href="#">Zobraziť všetko (500)</a>
      </div>
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">Kto môže žiadať o pomoc?</h1>
      </header>

      <div class="article__body">
        <p class="margin-bottom-large">Všetky zdravotnícke zariadenia — štátne aj súkromné, ktoré sa starajú o pacientov nakazených koronavírusom. Rovnako aj domovy sociálnych služieb a zariadenia pre seniorov.</p>

        <a href="{{ path('help_request') }}" class="button button--secondary button--small" style="width: fit-content;">Požiadať o pomoc</a>
      </div>
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">O projekte</h1>
      </header>

      <div class="article__body">
        <p>Prečo to robíme? Lebo všetkého je nedostatok. Pomáhame slovenským zdravotníckym zariadeniam zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre nemocnice a domovy sociálnych služieb. Zapojiť sa môže každý, kto chce a môže.</p>

        <a href="{{ path('about') }}">Čítajte viac</a>
      </div>
    </article>
  </div>
{% endblock %}

