{% extends "layout.html.twig" %}
{% block main %}
  <div class="container-fluid">
    <div class="row mainstat">
      <div class="col-sm-12">
        <h1>Aktuálne sme spoločne prispeli</h1>
        <h2 class="value">{{ donatedAmount }}</h2>
        <div class="highlight">
          <h3>Prispieť môžeš aj ty na <span class="bold">číslo účtu: <a class="dark" href="https://ib.fio.sk/ib/transparent?a=2901467117">SK2683300000002901467117</a></span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 box">
        <div class="box-content">
          <h2>Čo, robíme?</h2>
          <p>Pomáhame slovenským zdravotníckym zariadeniam zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre nemocnice a domovy sociálnych služieb. Zapojiť sa môže každý, kto chce a môže.</p>
        </div>
      </div>
      <div class="col-sm-4 box">
        <div class="box-content">
          <h2>Ako to robíme?</h2>
          <p>Všetky zdravotnícke zariadenia - štátne aj súkromné, ktoré sa starajú o pacientov nakazených koronavírusom. Rovnako aj domovy sociálnych služieb a zariadenia pre seniorov.</p>
        </div>
      </div>
      <div class="col-sm-4 box">
        <div class="box-content">
          <h2>Kto môže žiadať o pomoc?</h2>
          <p>Súkromné aj štátne zdravotnícke zariadenia.</p>
          <a class="btn-default" role="button" href="{{ path('help_request') }}">POTREBUJEM POMOC</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

