{% extends "layout.html.twig" %}
{% block main %}
  <div class="container-fluid">
    <div class="row mainstat">
      <div class="col-sm-12">
        <h1>Aktuálne sme vyzbierali</h1>
        <h2 class="value">123 456,20 €</h2>
        <div class="highlight">
          <h3>Prispieť môžeš aj ty na <span class="bold">číslo účtu: <span class="dark">SK2683300000002901467117</span></span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 box">
        <div class="box-content">
          <h2>Čo, robíme?</h2>
          <p>Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu.</p>
        </div>
      </div>
      <div class="col-sm-4 box">
        <div class="box-content">
          <h2>Ako to robíme?</h2>
          <p>Zbierame požiadavky zdravotníkov a snažíme sa pomôcť im prostredníctvom peňazí, ktoré získavame cez verejnú zbierku.</p>
        </div>
      </div>
      <div class="col-sm-4 box">
        <div class="box-content">
          <h2>Kto môže žiadať o pomoc?</h2>
          <p>Súkromné aj štátne zdravotnícke zariadenia.</p>
          <a class="btn-default" role="button" href="{{ path('help_request') }}">Žiadosť o pomoc</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

