{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <header class="hero">
      <h1 class="hero__heading">Pomoc pre slovenské zdravotnícke zariadenia</h1>
      <p class="hero__subheading">Aby sme spolu zvládli pandémiu koronavírusu, pridajte sa!</p>
    </header>

    <div class="separator" style="width: 100%; max-width: 300px"></div>

    {% include "partials/donated.html.twig" %}

  </div>

  <div class="l-container l-container--no-padding">
    {% include "partials/recru.html.twig" %}
  </div>

  <div class="l-container">
    {% include "partials/need-help.html.twig" %}

    <article class="article">
      <header>
        <h1 class="article__heading">Súčasný stav pomoci</h1>
      </header>

      <div class="article__body">
{{ dump() }}

        Čo subjekty potrebovali (čiernou), koľko toho od nás dostali (zelenou) a koľko stále chýba (červenou). Tieto dáta sú z našej databázy žiadanej pomoci, ktorú pravidelne aktualizujeme.
      </div>
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">O projekte</h1>
      </header>

      <div class="article__body">
        <p>Prečo to robíme? Lebo všetkého je nedostatok. Pomáhame slovenským zdravotníckym zariadeniam zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre nemocnice a domovy sociálnych služieb. Zapojiť sa môže každý, kto chce a môže.</p>

        <a href="{{ path('about') }}">Čítajte viac</a>
      </div>
    </article>
  </div>
{% endblock %}

