{% extends "layout.html.twig" %}
{% block main %}
<div class="container">
  <div class="row" style="display:block;">
    <div class="col-sm-12">
      <div class="box-content">
        <h1>Odborní garanti a členovia komisie, ktorá bude koordinovať rozdelenie pomoci:</h1>
        <br>
        <div class="row" style="padding-left:0; display:block;">
          <div class="col-sm-12">Ľudmila Kolesárová, Dobrý anjel</div>
          <div class="col-sm-12">MUDr. Pavol Andel, zubný lekár</div>
          <div class="col-sm-12">Ľubica Kočanová, Asociácia sestier a pacientov</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
