{% extends "layout.html.twig" %}
{% block main %}
<div class="container">
  <div class="row" style="display:block;">
    <div class="col-sm-12">
      <div class="box-content">
        <h1>Garanti</h1>
        <br>
        <div class="row" style="padding-left:0; display:block;">
          <div class="col-sm-3">Ľudmila Kolesárová</div>
          <div class="col-sm-3">MUDr. Pavol Andel </div>
          <div class="col-sm-3">Ľubica Kočanová</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
