{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">Pravidlá ochrany osobných údajov</h1>

    <article class="article">
      <p>
        Šimon Šicko, Demo, Lucia Pašková, Lukáš Fila, Zuzana Suchová – stojíme za <a href="https://ktopomozeslovensku.sk/">iniciatívou
        Kto pomôže Slovensku</a>.
        Nemáme právnu formu. Sme radi, že chcete byť toho súčasťou.</p>
      <p>Organizátorov, ktorí budú mať prístup k Vašim osobným údajom uvádzame menovite a budú pre Vás kontaktnými
        osobami. V prípade otázok, súvisiacich so spracovaním Vašich osobných údajov, sa na nás môžete obrátiť
        prostredníctvom e-mailu: podpora@ktopomozeslovensku.sk.:</p>
      <p>Dbáme na to, aby sme všetky Vaše osobné údaje, spracúvali v súlade s platnými právnymi predpismi v tejto
        oblasti. Tieto Pravidlá ochrany osobných údajov boli pripravené s ohľadom na Nariadenie Európskeho
        parlamentu a Rady (EU) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a
        o voľnom pohybe takýchto údajov (ďalej len „Nariadenie“) a zároveň s ohľadom na zákon 18/2018 Z. z. o
        ochrane osobných údajov a o zmene a doplnení niektorých zákonov (ďalej len „Nový Zákon“). Pravidlá
        objasňujú, ktoré osobné údaje vo všeobecnosti zhromažďujeme v rámci našej činnosti a ako tieto údaje
        používame a chránime.</p>
      ​


      <h3>1. Ktoré údaje spracúvame</h3>
      <p>
      Vo všeobecnosti spracúvame len také osobné údaje, ktoré nám sami poskytnete. Sú to najmä nasledovné osobné
      údaje:
      </p>
      <h4>a) Kontaktné údaje</h4>
      <p>
      Medzi kontaktné údaje zaraďujeme najmä meno, priezvisko, telefónne číslo a adresu elektronickej pošty
      </p>
      <h4>b) Informácie o finančných príspevkoch</h4>
      <p>
      Medzi informácie o finančných príspevkoch zaraďujeme najmä čísla Vašich bankových účtov, z ktorých ste nám
      poslali dobrovoľný finančný príspevok, výšku príspevku ako aj poznámky uvedené v jednotlivých prevodoch.
      </p>
      <h4>c) Údaje zahrnuté v komunikácii</h4>
      <p>
      Medzi údaje zahrnuté v komunikácii zaraďujeme v prvom rade akékoľvek osobné údaje poskytnuté nám v rámci
      komunikácie, ale zároveň aj samotný obsah komunikácie, teda napríklad obsah e-mailu, či facebookovej správy.
      </p>
      <h3>2. Ako údaje používame a účel spracúvania osobných údajov</h3>
      <p>
      Osobné údaje organizátorov a záujemcov o iniciatívu Kto pomôže Slovensku zhromažďujeme a využívame v súlade s
      platnými právnymi predpismi, na základe vášho dobrovoľného súhlasu, a to najmä za účelom komunikácie s Vami,
      informovania Vás o našej činnosti, ale aj za účelom prípravy a financovania aktivít, kvôli ktorým iniciatíva
      vznikla. Poskytnutie Vašich osobných údajov je dobrovoľné, nemáte žiadnu zákonnú ani zmluvnú povinnosť nám
      tieto údaje poskytnúť. Miera osobných údajov, ktoré nám poskytnete záleží na Vás. Niektoré Vaše osobné údaje
      môžu byť zverejnené zo zákona, napríklad v rámci transparentného účtu sú viditeľné názvy účtov prispievateľov.
      </p>
      <h3>3. Ako údaje zdieľame</h3>
      <p>
      Vaše osobné údaje nezdieľame s nikým. Nemáme žiadne osoby, ktoré by Vaše osobné údaje spracúvali za nás. Pri
      našich aktivitách však využívame bežne dostupné nástroje spracúvania a zdieľania dát ako napr. Google Drive,
      Google Forms, Gmail a podobne, ktoré môžu obsahovať aj Vaše osobné údaje. Vždy dbáme na to, aby prístup k
      Vašim osobným údajom mal len úzky okruh ľudí a overených partnerov.
      </p>
      <h3>4. Ako môžete nakladať s Vašimi údajmi</h3>
      <p>
      Ako dotknutá osoba máte v stanovenom rozsahu právo rozhodovať o nakladaní s Vašimi osobnými údajmi. Uplatniť
      nižšie uvedené práva môžete kontaktovaním zakladateľov iniciatívny prostredníctvom uvedených e-mailov
      uvedených vyššie. Budeme sa Vám snažiť odpovedať čo najskôr, vždy Vám však odpovieme najneskôr do jedného
      mesiaca od Vašej žiadosti. V prípade pochybnosti o Vašej totožnosti Vás môžeme požiadať, o dodatočné overenie
      Vašej totožnosti.
      Platné právne predpisy ako sú Zákon, resp. od 25.5.2018 Nariadenie a Nový Zákon Vám zabezpečujú najmä:
      </p>
      <h4>a) Právo na prístup</h4>
      <p>
      Máte právo od nás požadovať potvrdenie o tom, či sa spracúvajú Vaše osobné údaje, a pokiaľ tomu tak je, získať
      kópiu týchto údajov a dodatočné informácie vyplývajúce z § 28 Zákona, resp. neskôr čl. 15 Nariadenia a § 21
      Nového Zákona. V prípade, že o Vás získavame veľké množstvo údajov, môžeme od Vás požadovať, aby ste
      špecifikovali svoju požiadavku na okruh konkrétnych údajov, ktoré o Vás spracúvame.
      </p>
      <h4>b) Právo na opravu</h4>
      <p>
      K tomu, aby sme o Vás neustále spracúvali len aktuálne osobné údaje potrebujeme, aby ste nám ich zmenu
      oznámili čo najskôr ako nastane. V prípade, že o Vás spracúvame nesprávne údaje, máte právo požadovať ich
      opravu, ktorú na základe Vašej žiadosti vykonáme.
      </p>
      <h4>c) Právo na výmaz</h4>
      <p>
      Ak budú naplnené podmienky § 17 Zákona, resp. neskôr článku 17 Nariadenia a § 23 Nového Zákona, môžete
      požadovať výmaz Vašich osobných údajov. O výmaz preto môžete žiadať napríklad ak ste odvolali Váš súhlas so
      spracúvaním, úspešne namietli náš oprávnený záujem a neexistuje iný právny základ spracúvania, alebo v
      prípade, že Vaše osobné údaje spracúvame nezákonne, alebo sa pominul účel, na ktorý sme Vaše osobné údaje
      spracúvali a nespracúvame ich za iným kompatibilným účelom. Vaše údaje však nevymažeme, ak sú potrebné na
      preukazovanie, uplatňovanie alebo obhajovanie právnych nárokov.
      </p>
      <h4>d) Právo na obmedzenie spracúvania</h4>
      <p>
      Ak budú naplnené podmienky § 28 Zákona, resp. neskôr článku 18 Nariadenia a § 24 Nového Zákona, môžete od nás
      požadovať, aby sme obmedzili spracúvanie Vašich osobných údajov. O obmedzenie preto môžete žiadať napríklad,
      počas toho ako namietate správnosť spracúvaných údajov alebo v prípade, že je spracúvanie nezákonné a Vy si
      neželáte, aby sme údaje vymazali, ale potrebujete, aby ich spracúvanie bolo obmedzené počas toho ako si
      uplatníte Vaše práva. Vaše údaje naďalej spracúvame ak existujú dôvody na preukazovanie, uplatňovanie alebo
      obhajovanie právnych nárokov.
      </p>
      <h4>e) Právo na prenosnosť</h4>
      <p>
      Ak je spracúvanie založené na Vašom súhlase alebo vykonávané za účelom plnenia s Vami uzatvorenej zmluvy a
      zároveň vykonávané automatizovanými prostriedkami, máte právo od nás obdržať Vaše osobné údaje, ktoré sme od
      Vás získali v bežne používanom strojovo čitateľnom formáte. Ak o to budete mať záujem a bude to technicky
      možné, Vaše osobné údaje prenesieme priamo k inému prevádzkovateľovi. Toto právo nebude možné uplatniť na
      spracúvanie vykonávané z dôvodu plnenia úlohy realizovanej vo verejnom záujme alebo pri výkone verejnej moci.
      </p>
      <h4>f) Právo namietať voči spracúvaniu</h4>
      <p>
      Ak spracúvame Vaše osobné údaje z dôvodu plnenia úlohy realizovanej vo verejnom záujme alebo pokiaľ je
      spracúvanie vykonávané na základe našich oprávnených záujmov či oprávnených záujmov tretej strany, máte právo
      namietať voči takémuto spracúvaniu. Na základe Vašej námietky spracúvanie osobných údajov obmedzíme a pokiaľ
      nepreukážeme závažné oprávnené dôvody spracúvania, ktoré prevažujú nad Vašimi záujmami, právami a slobodami
      alebo dôvody na preukazovanie, uplatňovanie alebo obhajovanie právnych nárokov, osobné údaje naďalej spracúvať
      nebudeme a Vaše osobné údaje vymažeme.
      Máte právo kedykoľvek namietať proti spracúvaniu osobných údajov na účely priameho marketingu. Po vznesení
      námietky Vaše osobné údaje už na tento účel spracúvať nebudeme.
      </p>
      <h4>g) Právo podať sťažnosť</h4>
      <p>
      Ak sa domnievate, že spracúvanie Vašich osobných údajov je v rozpore s Zákonom, resp. neskôr Nariadením či
      Novým Zákonom, máte právo podať sťažnosť na jeden z príslušných dozorných orgánov, najmä v členskom štáte
      Vášho obvyklého pobytu, miesta výkonu práce alebo v miesta údajného porušenia. Pre územie Slovenskej republiky
      je dozorným orgánom Úrad pre ochranu osobných údajov, so sídlom: Hraničná 4826/12, 820 07 Bratislava,
      Slovenská republika, web: www.dataprotection.gov.sk, tel.: +421 /2/ 3231 3220.
      </p>
      <h4>h) Právo odvolať súhlas</h4>
      <p>
      Ak je spracúvanie Vašich osobných údajov založené na súhlase, máte právo tento súhlas kedykoľvek odvolať.
      Odvolanie súhlasu nemá vplyv na už vykonané spracúvanie.
      </p>
      <h3>5. Odkiaľ máme Vaše údaje</h3>
      <p>
      Osobné údaje, ktoré spracúvame získavame priamo od Vás.
      </p>
      <h3>6. Ako dlho a kde údaje uchovávame</h3>
      <p>
      Vaše osobné údaje uchovávame do skončenia účelu v bode 2, avšak najneskôr do odvolania súhlasu.
      </p>
      <h3>7. Zmeny týchto pravidiel</h3>
      <p>
      Znenie týchto Pravidiel sme oprávnení z času na čas zmeniť, najmä za účelom zapracovania legislatívnych zmien,
      či zmien účelu a prostriedkov spracúvania. Vaše práva vyplývajúce z týchto pravidiel alebo príslušných
      právnych predpisov však neobmedzíme. V prípade, že dôjde k zmenám pravidiel spôsobilým ovplyvniť Vaše práva,
      vhodným spôsobom Vás nato s dostatočným predstihom upozorníme.
      </p>
    </article>
  </div>
{% endblock %}

