{% extends "layout.html.twig" %}
{% block title %}História pomoci | Kto pomôže Slovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">História pomoci</h1>

    <article class="article">
      <div class="article__body">
        <ul>
          {% for donation in donations %}
          <li class="l-log">
            <span class="l-log__date">{{ donation.donatedAt|date("d. m. Y") }}</span>
            <span class="l-log__desc">
              <strong>{{ donation.recipient.institutionName }}.</strong>
                {{ donation.donationItem.name }}, {{ donation.count }} ks
              </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </article>

    {% include "partials/need-help.html.twig" %}
  </div>
{% endblock %}
