{% extends "layout.html.twig" %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="box-content">
        <h1>Komu sme pomohli</h1>
        <p>
          <li>2020 FNM pre obvodných lekárov, Martin - 300 ks chirurgických rúšok, 300 ks rukavíc (S, M, L)</li>
        <li>2020 Pohotovosť Zvolen - 200 ks chirurgických rúšok, 300 ks rukavíc (S, M, L)</li>
        <li>2020 Centrány príjem na Kramároch, Bratislava - 550 ks chirurgických rúšok, 2600 ks rukavíc (S, M, L)</li>
        <li>2020 BaMaMed/Fakultná nemocnica, Nitra - 100 ks chirurgických rúšok - 600 ks rukavíc (S, M, L)</li>
        <li>2020 FNM pre obvodnych, všeobecnych lekárov a pediatrov v Martine - 3 x 5L 80% alkoholového dezinfekčného roztoku na povrchy (pri riedení s vodou sa používa aj ako dezinfekcia na ruky)</li>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
