{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading">Hovorme o tom</h1>
    <p class="hero__subheading">Postarajme sa o seba navzájom, aby nás neprevalcovali úzkosti a obavy.</p>

    <article class="article">
      <div class="article__body">
        <p>
          Pandémia, hygienické a karanténne opatrenia menia náš zabehnutý spôsob života. Pasujeme sa potýkame sa s problémami dlhodobej izolácie aj s obavami z budúcnosti nás i našich blízkych. A tieto pocity úzkosti môžu neskôr prerásť aj do fyzických prejavov, ako je stiahnutý žalúdok, zvýšený tlak, nespavosť či depresívne nálady.
        </p>
        <p>
          Situácia dolieha rovnako na všetkých – zdravotníkov, chorých aj zdravých, rodičov, deti aj seniorov, podnikateľov, zamestnancov aj zamestnávateľov...
        </p>
        <p>
          V takejto vypätej situácii je veľmi ťažké zachovať si  duševnú rovnováhu a nájsť vnútornú silu na pomoc sebe aj ostatným.. Aby sme to všetko zvládli ako jednotlivci, rodiny aj celá spoločnosť, potrebujeme sa udržiavať v čo najlepšej fyzickej, ale aj psychickej kondícii.
        </p>
      </div>
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">Ak si lekár, zdravotník, záchranár</h1>
      </header>

      <div class="article__body">
        Napíš odborníkom<br>
        <a href="mailto:prezdravotnikov@gmail.com">prezdravotnikov@gmail.com</a><br>
        (Onedlho tu pribudne zoznam odborníkov)<br>
        Non-stop<br>
        </ul>

      </div>
    </article>


    <article class="article">
      <header>
        <h2 class="hero__heading">Ako si pomôcť sám?</h1>
      </header>
      <div class="article__body">
      <p>
        Každému z nás sa môže stať, že je v jednej chvíli zavalený a nevie ako ďalej. Nervozita stúpa, ruky chladnú, môžu sa chvieť, srdce je ako splašený kôň. Je to normálna reakcia našej psychiky a tela na situáciu ohrozenia, je však dobré keď odozneje. Sú aj chvíle, keď sa potrebujeme rýchlo upokojiť, pretože máme na starosti iných. Ale ako na to?
      </p>
      <p>
        Na tomto mieste nájdete rýchle postupy psychologickej prvej pomoci, ktoré môžete v pár krokoch využiť pre seba alebo svojich blízkych. Tiež tu nájdete jednoduché spôsoby, ako sa preventívne udržiavať v dobrej psychickej kondícií a priebežne si trénovať svoju psychickú odolnosť.
      </p>
      <p>
        Dôležité: Prosíme neostávajte so svojou nepohodou či krízou sami! Prvá pomoc je len prvý krok – ozvite sa pomáhajúcim odborníkom, povedzte o tom, ako sa cítite, svojim blízkym.
      </p>

      </div>
    </article>

  </div>
{% endblock %}
