{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading">Hovorme o tom</h1>
    <p class="p2 margin-bottom-xx-large">Postarajme sa o seba navzájom, aby nás neprevalcovali úzkosti a obavy.</p>

    <article class="article">
      <div class="article__body">
        <p class="p2">
          Pandémia, hygienické a karanténne opatrenia menia náš zabehnutý spôsob života. Pasujeme sa potýkame sa s problémami dlhodobej izolácie aj s obavami z budúcnosti nás i našich blízkych. A tieto pocity úzkosti môžu neskôr prerásť aj do fyzických prejavov, ako je stiahnutý žalúdok, zvýšený tlak, nespavosť či depresívne nálady.
        </p>
        <p class="p2">
          Situácia dolieha rovnako na všetkých – zdravotníkov, chorých aj zdravých, rodičov, deti aj seniorov, podnikateľov, zamestnancov aj zamestnávateľov...
        </p>
        <p class="p2">
          V takejto vypätej situácii je veľmi ťažké zachovať si  duševnú rovnováhu a nájsť vnútornú silu na pomoc sebe aj ostatným.. Aby sme to všetko zvládli ako jednotlivci, rodiny aj celá spoločnosť, potrebujeme sa udržiavať v čo najlepšej fyzickej, ale aj psychickej kondícii.
        </p>
      </div>
    </article>

    <article class="article">
      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si lekár, zdravotník, záchranár</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
        Napíš odborníkom<br>
        <a href="mailto:prezdravotnikov@gmail.com">prezdravotnikov@gmail.com</a><br>
        (onedlho tu pribudne kontakt na nonstop linku pre zdravotnikov)<br>
        Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak máš menej ako 18 rokov</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.ldi.sk">Linku Detskej Istoty</a><br>
          (116 111)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si dospelý akéhokoľvek veku</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.linkanezabudka.sk">Linku Nezábudka</a><br>
          (0800 800 566)<br>
          Non-stop<br>
        </p>
      </div>

{#      <div class="article__body text-center">#}
{#        <header>#}
{#          <h4 class="margin-bottom">Ak si žena, ktorá zažíva násilie a potrebuje pomoc</h4>#}
{#        </header>#}
{#        <p class="p2 margin-bottom-x-large">#}
{#          Zavolaj na <a href="https://www.employment.gov.sk/sk/linka">Linku Linku MPSVR</a><br>#}
{#          (0800 212 212)<br>#}
{#          Non-stop<br>#}
{#        </p>#}
{#      </div>#}

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak uprednostňuješ online komunikáciu cez chat a e-mail</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Napíš na <a href="http://ipcko.sk">IPčko.sk</a><br>
          7:00 - 24:00<br>
        </p>
      </div>

{#      <div class="article__body text-center">#}
{#        <header>#}
{#          <h4 class="margin-bottom">Ak si senior z Bratislavy</h4>#}
{#        </header>#}
{#        <p class="p2 margin-bottom-x-large">#}
{#          0800242000#}
{#        </p>#}
{#      </div>#}

{#      <div class="article__body text-center">#}
{#        <header>#}
{#          <h4 class="margin-bottom">Ak si rodič a potrebujes poradiť ako zvládnuť deti v čase korony</h4>#}
{#        </header>#}
{#        <p class="p2 margin-bottom-x-large">#}
{#          0800242333#}
{#        </p>#}
{#      </div>#}

      <p class="p2"> Linky dôvery a chatové či e-mailové  poradenstvo sú bezplatné, anonymné a sú tiež bezkontaktné, nepredstavujú teda žiadne riziko prenosu korona vírusu.</p>
    </article>

    {% include "partials/recru-speak-about-it.html.twig" %}

    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Ako si pomôcť sám?</h2>
      </header>
      <div class="article__body">
        <p>
          Každému z nás sa môže stať, že je v jednej chvíli zavalený a nevie ako ďalej. Nervozita stúpa, ruky chladnú, môžu sa chvieť, srdce je ako splašený kôň. Je to normálna reakcia našej psychiky a tela na situáciu ohrozenia, je však dobré keď odozneje. Sú aj chvíle, keď sa potrebujeme rýchlo upokojiť, pretože máme na starosti iných. Ale ako na to?
        </p>
        <p>
          Na tomto mieste nájdete rýchle postupy psychologickej prvej pomoci, ktoré môžete v pár krokoch využiť pre seba alebo svojich blízkych. Tiež tu nájdete jednoduché spôsoby, ako sa preventívne udržiavať v dobrej psychickej kondícií a priebežne si trénovať svoju psychickú odolnosť.
        </p>
        <p>
          <b>Dôležité:</b> Prosíme neostávajte so svojou nepohodou či krízou sami! Prvá pomoc je len prvý krok – ozvite sa pomáhajúcim odborníkom, povedzte o tom, ako sa cítite, svojim blízkym.
        </p>
      </div>
    </article>

    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Cvičenia prvej pomoci:</h2>
      </header>
      <div class="article__body">
        <h4 class="hero__heading margin-bottom">Zakotvenie v zmysloch</h4>
        <p>
          Nájdite si pohodlnú telesnú polohu. Niekoľkokrát sa pomaly nadýchnite a vydýchnite.
          Všimnite si, čo prežívate a čo cítite v tele. Pomenujte pre seba 3 veci, ktoré okolo seba vidíte. Všimnite si, čo počujete (aké zvuky z okolia, vlastný dych...) a čoho sa dotýkate (kontakt so stoličkou, miesto dotyku nôh so zemou...). Takýmto spôsobom sa pevnejšie zakotvíte v prítomnosti a znížite tak mieru napätia.
        </p>

        <h4 class="hero__heading margin-bottom">Dychové cvičenie</h4>
        <p>
          Cieľom je spomaliť a dovoliť si relaxovať. Pohodlne sa usaďte. Nadychujte sa nosom a v duchu pritom počítajte do 4. Potom dych zadržte taktiež na 4 doby a pomaly vydychujte ústami (na 7 dôb). Doprajte si pri dýchaní pozvoľné tempo. Zopakujte niekoľkokrát.
        </p>

        <h4 class="hero__heading margin-bottom">Všímavá pauza alebo ukotvenie v prítomnosti</h4>
        <h5 class="hero__heading"><b>Krátka audionahrávka (5 min)</b></h5>
        <p>
          Môžete si pustiť kedykoľvek počas dňa alebo keď si všimnete u seba nejaký nepríjemný moment -  na ukotvenie v prítomnom okamihu. Ideálne vyskúšať na týždeň pustiť si nahrávku každý deň, aby ste sa s ňou zoznámili.
        </p>
        <a href="https://we.tl/t-zcwXDDjAfR">Audionahrávku si stiahniťe kluknutím sem.</a>
      </div>
    </article>

    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Ako zvládnuť stres</h2>
      </header>
      <div class="article__body">
        <p class="p1 text-center hero__subheading">Tipy na zvládanie stresu spojeného s karanténou:</p>

        <h4 class="hero__heading margin-bottom">Zvýšená úzkosť alebo napätie</h4>
        <p>
          Napätie a úzkosť (napr. myšlienky na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov) sa v podobných situáciách vyskytujú často. Ľudia sa môžu obávať o svoju budúcnosť, mať poruchy spánku či zaspávania, problémy so sústredením a pocity nervozity. Súčasťou môže byť búšenie srdca a potenie.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Použite dýchacie a relaxačné cvičenia. Venujte sa im pravidelne – môžu vám pomôcť so spánkom, sústredením a dodať viac energie.
        </p>
        <h4 class="hero__heading margin-bottom">Sebaobviňovanie a pocity hanby</h4>
        <p>
          Kvôli vašim vlastným reakciám na situáciu. Mnoho ľudí môže mať silné reakcie  z toho ako reagovali., vrátane  viny alebo presvedčenia, že  niečo urobili zle.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Vytvorte príležitosť pohovoriť o vašich reakciách s vašimi priateľmi alebo rodinnými príslušníkmi. Pamätajte na to, že je bežné prežívať v podobnej situácii takéto pocity a je potrebný určitý čas kým pominú. Nahraďte sebaobviňovanie konštruktívnym a realistickým hodnotením, čo je potrebné v danej situácii urobiť. Ak tieto pocity pretrvávajú viac než týždeň, obráťte sa na psychológa.
        </p>
        <h4 class="hero__heading margin-bottom">Pocity preťaženia úlohami</h4>
        <p>
          Pocity preťaženia úlohami, ktoré potrebujú byť spravené (domáce práce, jedlo, starostlivosť o deti, práca).
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Sústreďte sa iba na najbližšie kroky, ktoré sú pred vami, nechcite vyriešiť všetko naraz. Zadefinujte si pre seba priority. Vytvorte pre seba plán, ktorého naplnenie v jednotlivých zvládnuteľných krokoch povedie k naplneniu cieľa. Všimnite si, či potrebujete pri niektorých úlohách asistenciu (nákup, postrážiť dieťa, nakŕmiť psa...) a vopred ju dohodnite.
        </p>
        <h4 class="hero__heading margin-bottom">Zmeny v postojoch či náhľade na svet alebo seba</h4>
        <p>
          Silné zmeny v prístupe k životu a sebe samému/samej bývajú pri podobných udalostiach časté. Ľudia môžu prehodnocovať vlastné hodnoty, presvedčenia či zvažovať väčšie zapojenie sa do pomoci druhým.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Pokiaľ je to možné, presuňte prípadné veľké životné rozhodnutia na neskôr. Zapojte sa do komunitných či celospoločenských podporných aktivít.
        </p>
        <h4 class="hero__heading margin-bottom">Zvýšené užívanie alkoholu alebo návykových látok</h4>
        <p>
          Mnoho ľudí s pocitmi bezmocnosti, strachu, straty kontroly, beznádeje alebo hnevu siahnu po návykových látkach, aby sa cítili lepšie.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Porozumenie, že užívanie látok vyvolávajúcich závislosť nie je bezpečný spôsob, ako sa vyrovnávať s touto situáciou. Alkohol a omamné látky navyše prispievajú k ďalším problémom, ako sú ťažkosti so spánkom, vzťahové problémy, fyzické ťažkosti a problémy v práci. Vyhľadajte odborníka pre vlastnú podporu v odvykaní.
        </p>
        <h4 class="hero__heading margin-bottom">Zmeny v osobných vzťahoch</h4>
        <p>
          Ľudia môžu začať prežívať blízke vzťahy inak; napríklad sa môžu začať o blízkych prehnane obávať, chcieť ich nadmerne chrániť alebo naopak, môžu mať túžbu stiahnuť sa z blízkych vzťahov.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Porozumenie, že blízke vzťahy sú dôležitým zdrojom zvládania záťaže. Každý z nás môže potrebovať iný prístup v zvládaní súčasnej situácie, tolerujme naše rozdielnosti. Ak ste v strese alebo potrebujete pomôcť s dennými aktivitami, obráťte sa na blízkych so žiadosťou o podporu. Namiesto dávania rád alebo doporučení vašim blízkym, aby si „zo situácie nerobili ťažkú hlavu“, sa ich radšej spýtajte, ako sa majú a ako zvládajú situáciu. Ponúknite im, že si ich radi vypočujete alebo pomôžete v prípade potreby.
        </p>
        <h4 class="hero__heading margin-bottom">Ťažkosti so spánkom</h4>
        <p>
          Ťažkosti so zaspávaním alebo časté budenie sa môžu byť súčasťou reakcie na záťažovú situáciu.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Chodievajte spať v rovnaký čas každý deň. V neskorších hodinách sa vyhnite nápojom s obsahom kofeínu či alkoholu. Cvičte. Pred spánkom relaxujte.
        </p>
  </div>
    </article>
    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Odborní garanti</h2>
      </header>
      <div class="article__body">
      <p class="p1 hero__subheading">Našim zámerom je poskytovať kvalitnú starostlivosť pre ľudí, ktorí to potrebujú. Kvalitu pre nás garantujú odborníci.</p>
      <p class="p3">
        <strong>Liga za duševné zdravie.</strong> Liga za duševné zdravie je mimovládna nezisková organizácia, ktorá už 20 rokov bojuje za to, aby sa kvalitná starostlivosť o duševné zdravie stala na Slovensku štandardom. Liga združuje 31 organizácií na poli duševného zdravia vrátane pacienstkych organizácií, úzko spolupracuje s komorami psychológov a psychiatrov a prevádzkuje non-stop anonymnú linku dôvery Nezábudka.
      </p>
        <p class="p3"><strong>Zuzana Vasičáková Očenášová</strong> (časť “Ako si pomôcť sám”)</p>

        <p class="p3"><strong>Veronika Holíková</strong> (časť “Ako si pomôcť sám”)</p>

        <p class="p3"><strong>Andrej Jeleník</strong> (časť “Ako si pomôcť sám”, autor audionahrávky)</p>
      </div>
    </article>
  </div>
{% endblock %}
