{% extends "layout.html.twig" %}
{% block title %}Hovorme o tom | Kto pomôže Slovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading h2">Hovorme o tom</h1>
    <p class="p2 margin-bottom-xx-large">Postarajme sa o seba navzájom, aby nás neprevalcovali úzkosti a obavy.</p>

    <article class="article">
      <div class="article__body">
        <p class="p2">
          Pandémia, hygienické a karanténne opatrenia menia náš zabehnutý spôsob života. Pasujeme sa potýkame sa s problémami dlhodobej izolácie aj s obavami z budúcnosti nás i našich blízkych. A tieto pocity úzkosti môžu neskôr prerásť aj do fyzických prejavov, ako je stiahnutý žalúdok, zvýšený tlak, nespavosť či depresívne nálady.
        </p>
        <p class="p2">
          Situácia dolieha rovnako na všetkých – zdravotníkov, chorých aj zdravých, rodičov, deti aj seniorov, podnikateľov, zamestnancov aj zamestnávateľov...
        </p>
        <p class="p2">
          V takejto vypätej situácii je veľmi ťažké zachovať si  duševnú rovnováhu a nájsť vnútornú silu na pomoc sebe aj ostatným.. Aby sme to všetko zvládli ako jednotlivci, rodiny aj celá spoločnosť, potrebujeme sa udržiavať v čo najlepšej fyzickej, ale aj psychickej kondícii.
        </p>
      </div>
    </article>

    <article class="article">
      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si lekár, zdravotník, záchranár</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
        Napíš odborníkom<br>
        <a href="mailto:prezdravotnikov@gmail.com">prezdravotnikov@gmail.com</a><br>
        (onedlho tu pribudne kontakt na nonstop linku pre zdravotnikov)<br>
        Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak máš menej ako 18 rokov</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.ldi.sk">Linku Detskej Istoty</a><br>
          (116 111)<br>
          Non-stop<br>
          <br>
          Alebo<br>
          <br>
          Kontaktuj spoločnosť priateľov detí - <a href="http://linkadeti.sk/">Li(e)nka</a><br>
          (0907 401 749)<br>
           <a href="mailto:odkazy@linkadeti.sk">odkazy@linkadeti.sk</a><br>
          Skype (linkadeti)<br>
          V pracovné dni v čase 14:00 - 20:00<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si dospelý akéhokoľvek veku</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.linkanezabudka.sk">Linku Nezábudka</a><br>
          (0800 800 566)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak uprednostňuješ online komunikáciu cez chat a e-mail</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Napíš na <a href="http://ipcko.sk">IPčko.sk</a><br>
          7:00 - 24:00<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si žena, ktorá zažíva násilie a potrebuje pomoc</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na bezplatnú linku<br>
          (0800 212 212)<br>
          Non-stop<br>
        </p>
      </div>

{#      <div class="article__body text-center">#}
{#        <header>#}
{#          <h4 class="margin-bottom">Ak si senior z Bratislavy</h4>#}
{#        </header>#}
{#        <p class="p2 margin-bottom-x-large">#}
{#          0800242000#}
{#        </p>#}
{#      </div>#}

{#      <div class="article__body text-center">#}
{#        <header>#}
{#          <h4 class="margin-bottom">Ak si rodič a potrebujes poradiť ako zvládnuť deti v čase korony</h4>#}
{#        </header>#}
{#        <p class="p2 margin-bottom-x-large">#}
{#          0800242333#}
{#        </p>#}
{#      </div>#}

      <p class="p2"> Linky dôvery a chatové či e-mailové  poradenstvo sú bezplatné, anonymné a sú tiež bezkontaktné, nepredstavujú teda žiadne riziko prenosu korona vírusu.</p>
    </article>

    {% include "partials/recru-speak-about-it.html.twig" %}

    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Ako si pomôcť sám?</h2>
      </header>
      <div class="article__body">
        <p>
          Každému z nás sa môže stať, že je v jednej chvíli zavalený a nevie ako ďalej. Nervozita stúpa, ruky chladnú, môžu sa chvieť, srdce je ako splašený kôň. Je to normálna reakcia našej psychiky a tela na situáciu ohrozenia, je však dobré keď odozneje. Sú aj chvíle, keď sa potrebujeme rýchlo upokojiť, pretože máme na starosti iných. Ale ako na to?
        </p>
        <p>
          Na tomto mieste nájdete rýchle postupy psychologickej prvej pomoci, ktoré môžete v pár krokoch využiť pre seba alebo svojich blízkych. Tiež tu nájdete jednoduché spôsoby, ako sa preventívne udržiavať v dobrej psychickej kondícií a priebežne si trénovať svoju psychickú odolnosť.
        </p>
        <p>
          <b>Dôležité:</b> Prosíme neostávajte so svojou nepohodou či krízou sami! Prvá pomoc je len prvý krok – ozvite sa pomáhajúcim odborníkom, povedzte o tom, ako sa cítite, svojim blízkym.
        </p>
      </div>
    </article>

    <article class="article">
      <header>
        <h2 id="cvicenia" class="hero__heading-standalone text-center">Cvičenia prvej pomoci:</h2>
      </header>
      <div class="article__body">
        <h4 class="hero__heading margin-bottom">Zakotvenie v zmysloch</h4>
        <p>
          Nájdite si pohodlnú telesnú polohu. Niekoľkokrát sa pomaly nadýchnite a vydýchnite.
          Všimnite si, čo prežívate a čo cítite v tele. Pomenujte pre seba 3 veci, ktoré okolo seba vidíte. Všimnite si, čo počujete (aké zvuky z okolia, vlastný dych...) a čoho sa dotýkate (kontakt so stoličkou, miesto dotyku nôh so zemou...). Takýmto spôsobom sa pevnejšie zakotvíte v prítomnosti a znížite tak mieru napätia.
        </p>

        <h4 class="hero__heading margin-bottom">Dychové cvičenie</h4>
        <p>
          Cieľom je spomaliť a dovoliť si relaxovať. Pohodlne sa usaďte. Nadychujte sa nosom a v duchu pritom počítajte do 4. Potom dych zadržte taktiež na 4 doby a pomaly vydychujte ústami (na 7 dôb). Doprajte si pri dýchaní pozvoľné tempo. Zopakujte niekoľkokrát.
        </p>

        <h4 class="hero__heading margin-bottom">Všímavá pauza alebo ukotvenie v prítomnosti</h4>
        <h5 class="hero__heading"><b>Krátka audionahrávka (5 min)</b></h5>
        <p>
          Môžete si pustiť kedykoľvek počas dňa alebo keď si všimnete u seba nejaký nepríjemný moment -  na ukotvenie v prítomnom okamihu. Ideálne vyskúšať na týždeň pustiť si nahrávku každý deň, aby ste sa s ňou zoznámili.
        </p>
        <a href="https://www.mindpark.sk/audio-cvicenia">Audionahrávku si stiahnite kluknutím sem.</a>
      </div>
    </article>

    <article class="article" id="ako-zvladnut-stres">
      <header>
        <h2 class="hero__heading-standalone text-center">Ako zvládnuť stres</h2>
      </header>
      <div class="article__body">
        <p class="p1 text-center hero__subheading">Tipy na zvládanie stresu spojeného s karanténou:</p>

        <h4 class="hero__heading margin-bottom">Zvýšená úzkosť alebo napätie</h4>
        <p>
          Napätie a úzkosť (napr. myšlienky na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov) sa v podobných situáciách vyskytujú často a sú normálnou reakciou na nenormálnu situáciu.<br>
          Môžu mať podobu myšlienok (napr. na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov) emócie alebo telesných reakcií, napr. búšenie srdca či potenie. Ľudia sa môžu obávať o svoju budúcnosť, mať poruchy spánku či zaspávania, problémy so sústredením a pocity nervozity.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Pripomenúť si, že ide o normálnu reakciu zdravého človeka na nenormálnu situáciu. Použite dýchacie a relaxačné cvičenia. Venujte sa im pravidelne – môžu vám pomôcť so spánkom, sústredením a dodať viac energie.<br>
          <a href="#cvicenia">Cvičenia prvej pomoci</a><br>
          Prestaňte piť kávu a povzbudzujúce čaje.<br>
          Fyzické cvičenie – napr. beh alebo rýchla chôdza vám pomôže uvoľniť nadbytočné napätie. Ak cítite veľké napätie, uvoľnite energiu pohybom ešte pred relaxáciou.<br>
        </p>
        <h4 class="hero__heading margin-bottom">Sebaobviňovanie a pocity hanby</h4>
        <p>
          Môžu prichádzať pre vaše vlastné reakcie na situáciu. Mnoho ľudí môže mať silné reakcie z toho ako reagovali., vrátane viny alebo presvedčenia, že niečo urobili zle.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Vytvorte príležitosť pohovoriť o vašich reakciách s vašimi priateľmi alebo rodinnými príslušníkmi.<br>
          Napríklad cez pozvanie kávu na balkón alebo telefonát s osobou ktorej dôverujete: „Chcem ti porozprávať, čo som dnes zažil/a a ako sa cítim. Veľmi by mi to pomohlo.“ Popíšte situáciu, ktorá sa stala a ako ste sa v nej cítili. Povedzte ako sa cítite teraz keď o tom hovoríte. Ak ste v rozhovore poslucháčom, nedávajte rýchle rady, blízkej osobe pomôžete skôr tým, že budete naozaj počúvať.<br>
          Pamätajte na to, že je bežné prežívať v podobnej situácii takéto pocity a je potrebný určitý čas kým pominú. Namiesto sebaovbiňovania sa skúste na situáciu pozrieť konštruktívne a realisticky: čo je potrebné v danej situácii urobiť.<br>
          Napríklad výrok “Nemala som ísť k rodičom, keď som tesne predtým bola v lekárni a v obchode - a bez rukavíc, som nezodpovedná!” skúste v sebe preformulovať na  “Urobila som to najlepšie, čo som v tom momente vedela! Teraz mám viac informácií ako som mala vtedy a využijem ich.”<br>
          Ak tieto pocity pretrvávajú viac než týždeň, obráťte sa na psychológa.
        </p>
        <h4 class="hero__heading margin-bottom">Pocity preťaženia úlohami</h4>
        <p>
          Pocity preťaženia úlohami, ktoré potrebujú byť spravené (domáce práce, jedlo, starostlivosť o deti, práca).
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Sústreďte sa iba na najbližšie kroky, ktoré sú pred vami, nechcite vyriešiť všetko naraz. Zadefinujte si pre seba priority. Vytvorte pre seba plán zvládnuteľných krokov, ktoré vás povedú k naplneniu cieľa. Odložte úlohy, ktoré nie sú urgentné a znesú odklad.<br>
          Všimnite si, či potrebujete pri niektorých úlohách asistenciu (nákup, postrážiť dieťa, nakŕmiť psa...) a vopred ju dohodnite.<br>
          Oddýchnite si a aspoň na pán minút si dovoľte vôbec nič nerobiť. Niekedy nás prekvapí, ako málo stačí na to, aby sa nám obnovili sily.<br>
          Ako na riešenie problémov a plánovanie ...<br>
          1, pomenuj problém<br>
          2, napíš na papier možné riešenia problému<br>
          3, vyber z nich jedno<br>
          4, napíš kroky ako ho zrealizovať
        </p>
        <h4 class="hero__heading margin-bottom">Zmeny v postojoch či náhľade na svet alebo seba</h4>
        <p>
          Výrazné zmeny v prístupe k životu a sebe samému/samej bývajú pri podobných udalostiach časté. Ľudia môžu prehodnocovať vlastné hodnoty, presvedčenia či zvažovať väčšie zapojenie sa do pomoci druhým.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Pokiaľ je to možné, presuňte prípadné veľké životné rozhodnutia na neskôr. Zapojte sa do komunitných či celospoločenských podporných aktivít.<br>
          Napríklad: Zavolajte na svoj mestský či obecný úrad s ponukou pomoci iným počas epidémie. Zamyslite sa nad tým, čo viete robiť sami.<br>
          Ľudia šijú rúška, pomáhajú s nákupom, vylepujú plagáty s návodmi ako sa správať aby sme predišli nákaze. Niektorí organizujú skupinové videohovory s kolegami, susedmi či príbuznými. Iní darujú krv. Viac o možnosťiach pomôcť:<br>
          <a href="https://www.forbes.sk/slovenskom-presla-velka-vlna-solidarity-pomoct-mozete-aj-vy/">https://www.forbes.sk/slovenskom-presla-velka-vlna-solidarity-pomoct-mozete-aj-vy/</a>
        </p>
        <h4 class="hero__heading margin-bottom">Zvýšené užívanie alkoholu alebo návykových látok</h4>
        <p>
          Mnoho ľudí s pocitmi bezmocnosti, strachu, straty kontroly, beznádeje alebo hnevu siahnu po návykových látkach, aby sa cítili lepšie.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Porozumenie, že užívanie látok vyvolávajúcich závislosť nie je bezpečný spôsob, ako sa vyrovnávať s touto situáciou. Alkohol a omamné látky navyše prispievajú k ďalším problémom, ako sú ťažkosti so spánkom, vzťahové problémy, fyzické ťažkosti a problémy v práci.<br>
          Ak potrebujete pomoc s nadmerným konzumom alebo závislosťou, vyhľadajte odborníka alebo svojpomocnú skupinu (napr. Anonymní alkoholici, Anonymní narkomani; www.triezvypriestor.net alebo www.cs-aa.eu, kde je informácia o možnosti Skypeových stretnutí).<br>
          Urobte to pre seba a svojich blízkych pokojne aj preventívne, pri náznaku problému.
        </p>
        <h4 class="hero__heading margin-bottom">Zmeny v osobných vzťahoch</h4>
        <p>
          Ľudia môžu začať prežívať blízke vzťahy inak; napríklad sa môžu začať o blízkych prehnane obávať, chcieť ich nadmerne chrániť alebo naopak, môžu mať túžbu stiahnuť sa z blízkych vzťahov. Zvýšený stres tiež môže spôsobiť, že vo vzťahu reagujeme podráždene, máme viac konfliktov s partnerkou, partnerom.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Porozumenie, že blízke vzťahy sú dôležitým zdrojom zvládania záťaže. Každý z nás môže potrebovať iný prístup v zvládaní súčasnej situácie. Niekto potrebuje viac hovoriť s druhými, niekto rieši problémy sám v sebe. Tolerujme naše rozdielnosti,  hľadajme spoločné body.<br>
          Ak ste v strese alebo potrebujete pomôcť s dennými aktivitami, obráťte sa na blízkych so žiadosťou o podporu. Namiesto dávania rád alebo doporučení vašim blízkym, aby si „zo situácie nerobili ťažkú hlavu“, sa ich radšej spýtajte, ako sa majú a ako zvládajú situáciu. Ponúknite im, že si ich radi vypočujete alebo pomôžete v prípade potreby.
        </p>
        <h4 class="hero__heading margin-bottom">Ťažkosti so spánkom</h4>
        <p>
          Ťažkosti so zaspávaním alebo časté budenie sa môžu byť súčasťou reakcie na záťažovú situáciu.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Chodievajte spať v rovnaký čas každý deň. V neskorších hodinách sa vyhnite nápojom s obsahom kofeínu či alkoholu. Cvičte, aby ste vydali energiu, ale nie tesne pred spaním. Pred spánkom relaxujte.<br>
          <a href="#cvicenia">Cvičenia prvej pomoci</a>
        </p>


        <h4 class="hero__heading margin-bottom">Prevencia v mojom duševnom zdraví</h4>
        <p>
          Čo môžeme pre svoju  psychickú odolnosť robiť v časoch, keď sa cítim  celkom dobre:<br>
          - Zostaňme v spojení s faktom, že táto situácia jedného dňa prejde<br>
          - Sústreďme sa na to čo môžeme, nie na to na čo nemáme dosah<br>
          = Pripomeňme si, že robíme najlepšie ako vieme a to samotné je dosť<br>
          - Zostaňme v spojení so svojimi blízkymi a priateľmi. Dodáva to pocit bezpečia a zmierňuje to stres. Organizujme online stretnutia.<br>
          - Vytvorme si denný režim, rutinu -  spávajme v rovnakom čase, dodržiavajme čas na jedlo, prácu, oddych, online stretnutia s priateľmi.<br>
          - Nájdime si čas na cvičenie, koníčky, meditovanie, čokoľvek, čo nám robí radosť a nie je to povinnosť, udrží nás to v kondícii<br>
          - Obmedzme svoj prístup k médiám na raz alebo dvakrát denne. Sledovanie správ v nás udržiava napätie a pocit ohrozenia.<br>
          - Zapojme sa do komunitnej pomoci, zistite či niečo nepotrebuje niekto z Vašich blízkych, susedov, priateľov (potom čo s postaráme o seba)<br>
          - Ak začíname pociťovať stres, hovorme o tom. Je to normálne zažívať obavy v situácii neistoty. Oslovme priateľov, blízkych, alebo si urobme denník a píšme o tom.<br><br>
          Články o duševnom zdraví a psychickej odolnosti v náročnom období:<br>
          <a href="https://dennikn.sk/1820921/velky-psychologicky-manual-ako-zvladnut-karantenu-a-socialnu-izolaciu/?ref=tit1">Veľký psychologický manuál</a><br>
          <a href="https://www.forbes.sk/psychologicka-o-dopadoch-koronavirusu-hybu-nami-emocie-no-zatial-som-paniku-nezachytila/?fbclid=IwAR3ZPWwwAOHc0YuIXc5uzW1D_561gBKxL33g3i9XW4l87HKw8Ec3HUfM0Qs">Psychologička o dopadoch koronavírusu</a><br>
          <a href="https://www.mindpark.sk/post/čo-so-stresom-a-úzkosťou-v-čase-epidémie-rad%C3%AD-psychológ?fbclid=IwAR0dTn77Kuhi8TyepztGWZ_ltqWyULrXvwINBr0owxleeigRFwLyqKw-A3o">Čo so stresom a úzkosťou v čase epidémie</a><br>
        </p>
  </div>
    </article>
    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Odborní garanti</h2>
      </header>
      <div class="article__body">
      <p class="p1 hero__subheading">Našim zámerom je poskytovať kvalitnú starostlivosť pre ľudí, ktorí to potrebujú. Kvalitu pre nás garantujú odborníci.</p>
      <p class="p3">
        <strong>Liga za duševné zdravie.</strong> Liga za duševné zdravie je mimovládna nezisková organizácia, ktorá už 20 rokov bojuje za to, aby sa kvalitná starostlivosť o duševné zdravie stala na Slovensku štandardom. Liga združuje 31 organizácií na poli duševného zdravia vrátane pacienstkych organizácií, úzko spolupracuje s komorami psychológov a psychiatrov a prevádzkuje non-stop anonymnú linku dôvery Nezábudka.
      </p>
{#        <p class="p3"><strong>Zuzana Vasičáková Očenášová</strong> (časť “Ako si pomôcť sám”)</p>#}
{#        <p class="p3"><strong>Veronika Holíková</strong> (časť “Ako si pomôcť sám”)</p>#}
{#        <p class="p3"><strong>Andrej Jeleník</strong> (časť “Ako si pomôcť sám”, autor audionahrávky)</p>#}
      <p class="p3">
        <strong>Tvorba textov v časti “Ako si pomôcť sám?”</strong><br>
          Zuzana Vasičáková Očenášová, Veronika Holíková, Andrej Jeleník, Veronika Melicherová<br>
        <strong>Garantky:</strong><br>
          Hana Vojtová, Slávka Takáčová<br>
      </p>
      </div>
    </article>
  </div>
{% endblock %}
