{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading">Hovorme o tom</h1>
    <p class="p2 margin-bottom-xx-large">Postarajme sa o seba navzájom, aby nás neprevalcovali úzkosti a obavy.</p>

    <article class="article">
      <div class="article__body">
        <p class="p2">
          Pandémia, hygienické a karanténne opatrenia menia náš zabehnutý spôsob života. Pasujeme sa potýkame sa s problémami dlhodobej izolácie aj s obavami z budúcnosti nás i našich blízkych. A tieto pocity úzkosti môžu neskôr prerásť aj do fyzických prejavov, ako je stiahnutý žalúdok, zvýšený tlak, nespavosť či depresívne nálady.
        </p>
        <p class="p2">
          Situácia dolieha rovnako na všetkých – zdravotníkov, chorých aj zdravých, rodičov, deti aj seniorov, podnikateľov, zamestnancov aj zamestnávateľov...
        </p>
        <p class="p2">
          V takejto vypätej situácii je veľmi ťažké zachovať si  duševnú rovnováhu a nájsť vnútornú silu na pomoc sebe aj ostatným.. Aby sme to všetko zvládli ako jednotlivci, rodiny aj celá spoločnosť, potrebujeme sa udržiavať v čo najlepšej fyzickej, ale aj psychickej kondícii.
        </p>
      </div>
    </article>

    <article class="article">
      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak si lekár, zdravotník, záchranár</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
        Napíš odborníkom<br>
        <a href="mailto:prezdravotnikov@gmail.com">prezdravotnikov@gmail.com</a><br>
        (Onedlho tu pribudne zoznam odborníkov)<br>
        Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak máš menej ako 18 rokov</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.ldi.sk">Linku Detskej Istoty</a><br>
          (116 111)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak si dospelý akéhokoľvek veku</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.linkanezabudka.sk">Linku Nezábudka</a><br>
          (0800 800 566)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak si žena, ktorá zažíva násilie a potrebuje pomoc</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="https://www.employment.gov.sk/sk/linka">Linku Linku MPSVR</a><br>
          (0800 212 212)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak uprednostňuješ online komunikáciu cez chat a e-mail</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Napíš na <a href="http://ipcko.sk">IPčko.sk</a><br>
          7:00 - 24:00<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak si senior z Bratislavy</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          0800242000
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="h4 margin-bottom">Ak si rodič a potrebujes poradiť ako zvládnuť deti v čase korony</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          0800242333
        </p>
      </div>

      <p class="p2"> Linky dôvery a chatové či e-mailové  poradenstvo sú bezplatné, anonymné a sú tiež bezkontaktné, nepredstavujú teda žiadne riziko prenosu korona vírusu.</p>
    </article>

    {% include "partials/recru-speak-about-it.html.twig" %}

    <article class="article">
      <header>
        <h2 class="hero__heading">Ako si pomôcť sám?</h1>
      </header>
      <div class="article__body">
      <p>
        Každému z nás sa môže stať, že je v jednej chvíli zavalený a nevie ako ďalej. Nervozita stúpa, ruky chladnú, môžu sa chvieť, srdce je ako splašený kôň. Je to normálna reakcia našej psychiky a tela na situáciu ohrozenia, je však dobré keď odozneje. Sú aj chvíle, keď sa potrebujeme rýchlo upokojiť, pretože máme na starosti iných. Ale ako na to?
      </p>
      <p>
        Na tomto mieste nájdete rýchle postupy psychologickej prvej pomoci, ktoré môžete v pár krokoch využiť pre seba alebo svojich blízkych. Tiež tu nájdete jednoduché spôsoby, ako sa preventívne udržiavať v dobrej psychickej kondícií a priebežne si trénovať svoju psychickú odolnosť.
      </p>
      <p>
        Dôležité: Prosíme neostávajte so svojou nepohodou či krízou sami! Prvá pomoc je len prvý krok – ozvite sa pomáhajúcim odborníkom, povedzte o tom, ako sa cítite, svojim blízkym.
      </p>

      </div>
    </article>

  </div>
{% endblock %}
