{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">Hovorme o tom</h1>

    <article class="article">
      <div class="article__body">
        <ul>
Tu budu tvoje texty
        </ul>
      </div>
    </article>
  </div>
{% endblock %}
