{% extends "layout.html.twig" %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="box-content">
        <h1>Organizačný tím www.KtopomozeSlovensku.sk:</h1>
        <br>
        <div class="row" style="padding-left:0; display:block;">
          <div class="col-sm-12">Šimon Šicko, Pixel Federation – iniciátor</div>
          <div class="col-sm-12">Lukáš Fila, Denník N </div>
          <div class="col-sm-12">Demo, Demotivacia</div>
          <div class="col-sm-12">Zuzana Suchová, Fundraising, marketing a PR konzultantka</div>
          <div class="col-sm-12">Lucia Pašková, CURADEN Slovakia</div>
          <div class="col-sm-12">Andrej Bobák, Oblecsadoroboty.sk</div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
