{% extends "layout.html.twig" %}
{% block title %}Komu sme pomohli | Kto pomôže Slovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone h2">Komu sme pomohli</h1>
    <article class="article">
      <p class="margin-bottom-large">
        Všetky vaše príspevky boli, sú a budú využité na kúpu zdravotníckych pomôcok.
        Respirátory, rúška, dezinfekcie, čističky vzduchu, skrátka všetko, čo bude potrebné.
      </p>

      {% include "partials/who-asks-for-help.html.twig" %}
    </article>
    <article class="article">
      {% include "partials/item-status.html.twig" %}
    </article>

    <article class="article">
      {% include "partials/testimonails.html.twig" %}
    </article>

    <article class="article">
      {% include "partials/donations-history.html.twig" %}
    </article>

    {% include "partials/need-help.html.twig" %}
  </div>
{% endblock %}
